.git
.github
.env
.env.*
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
phpunit.xml
.phpunit.result.cache
*.md
!README.md
.editorconfig
.gitattributes
.DS_Store
Thumbs.db
